/* header and nav styles */
.header {
  background-color: var(--color5);
}
header {
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}
/* navigation styling -- universal across breakpoints */

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}
nav li:first-child {
  flex-basis: 100%;
  text-align: center;
}
nav a {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--color1);
  display: block;
  padding: 0.5rem;
}
@media (min-width: 550px) {
  nav ul {
    justify-content: center;
    gap: 1.2em;
  }
  nav li {
    flex-basis: auto;
    margin-bottom: 0;
  }
  nav a {
    color: var(--color1);
    background-color: transparent;
  }
  nav a:hover {
    color: var(--color2);
    background-color: transparent;
  }
}
@media (min-width: 800px) {
  nav ul {
    justify-content: flex-end;
  }
  nav li:first-child {
    flex-basis: auto;
    margin: 0 auto;
    order: 2;
  }
  nav li:nth-child(2),
  nav li:nth-child(3) {
    order: 1;
  }
  nav li:nth-child(4),
  nav li:nth-child(5) {
    order: 3;
  }
}
