<div class="stripe">
  <section id="popular">
    <h2>Popular Prints</h2>
    <ul>
      <li>
        <figure class="color8">
          <img src="assets/fork-it-up.jpg" alt="fork on green background" />
          <figcaption>
            <a href="#">Fork it up</a>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure class="color7">
          <img src="assets/eyeing-you.jpg" alt="part of orange car" />
          <figcaption>
            <a href="#">Eyeing you</a>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure class="color7">
          <img src="assets/lets-scoot.jpg" alt="part of orange car" />
          <figcaption>
            <a href="#">Let's scoot</a>
          </figcaption>
        </figure>
      </li>
    </ul>
  </section>
</div>
