.stripe {
  background-color: var(--color2);
  color: white;
  padding: 1rem 0 2rem 0;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
figure {
  margin: 0 0 0.5rem 0;
  padding: 0;
  height: 100%;
  max-height: 400px;
  overflow: hidden;
  position: relative;
  border-width: 10px;
  border-style: solid;
  border-radius: 5px;
}

/* strange open space at the bottom of the box which shows through the transparent overlay - this kills it */

figure img {
  margin-bottom: -4px;
  width: 100%;
  object-fit: cover;
  object-position: 0 -150px;
}
@media (min-width: 550px) {
  section ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  section li {
    flex-basis: 49.5%;
  }
  #popular li:last-child {
    flex-basis: 100%;
  }
  #popular li:last-child figure img {
    object-position: 0 -350px;
  }
  figure img {
    object-position: 0;
  }
}

@media (min-width: 800px) {
  section h2 {
    margin-left: 100px;
  }
  section li,
  #popular li:last-child {
    flex-basis: 32.5%;
  }
  #popular li:last-child figure img {
    object-position: 0;
  }
  address {
    flex-basis: 65.5%;
  }
}
