<section id="hero">
  <picture>
    <source srcset="assets/banner-1200.png" media="(min-width: 1085px)" />
    <source srcset="assets/banner-1084.png" media="(min-width: 959px)" />
    <source srcset="assets/banner-958.png" media="(min-width: 789px)" />
    <source srcset="assets/banner-788.png" media="(min-width: 584px)" />
    <source srcset="assets/banner-583.png" media="(min-width: 301px)" />
    <source srcset="assets/banner-300.png" media="(min-width: 300px)" />
    <img src="assets/banner-300.png" alt="Rainbow hero image banner." />
  </picture>
</section>
