<section id="collections">
  <h2>Collections</h2>
  <ul>
    <li>
      <figure>
        <img src="assets/pop-art.jpg" alt="Pop Art: This must be the place" />
        <figcaption><a href="#">Pop Art</a></figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img
          src="assets/abstract.jpg"
          alt="Abstract: grey and green squares."
        />
        <figcaption><a href="#">Abstract</a></figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img
          src="assets/vivid.jpg"
          alt="Tree on island in lake with purple sunrise."
        />
        <figcaption><a href="#">Vivid</a></figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img src="assets/music.jpg" alt="Music: guitar leaning against wall." />
        <figcaption><a href="#">Music</a></figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img src="assets/vehicles.jpg" alt="Vehicles: 1930's car on street." />
        <figcaption><a href="#">Vehicles</a></figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img
          src="assets/landscape.jpg"
          alt="Landscape: moonrise over tree-covered mountains."
        />
        <figcaption><a href="#">Landscape</a></figcaption>
      </figure>
    </li>
  </ul>
</section>
