<section id="mission">
  <h2>Our Mission</h2>
  <div class="missiontext">
    <p>
      <img src="img/logo2.png" alt="logo" class="missionimg" />
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi in illo
      expedita alias quasi rerum assumenda, vel veritatis quibusdam, nam omnis
      ut quia non, reiciendis laboriosam maxime quo quod atque deserunt soluta
      aspernatur! Non, voluptatum eligendi consequatur vitae cumque esse, libero
      consectetur sunt harum quo, minima placeat dolores. Similique nam eius
      tempora tenetur vitae ex, ducimus sint iusto, obcaecati repudiandae illo
      voluptatum ipsa molestiae assumenda doloremque autem facere non quia,
      delectus dignissimos expedita totam nostrum. Dolor numquam sit autem ex
      ipsum aperiam consequuntur inventore repudiandae magni quam, eos vitae
      nihil delectus laudantium itaque sapiente? Rem adipisci at cum doloremque
      vero.
    </p>
  </div>
</section>
<section id="collections">
  <h2>Collections</h2>
  <ul>
    <li>
      <figure class="color7">
        <img src="assets/pop-art.jpg" alt="Pop Art: This must be the place" />
        <figcaption><a href="#">Pop Art</a></figcaption>
      </figure>
    </li>
    <li>
      <figure class="color2">
        <img
          src="assets/abstract.jpg"
          alt="Abstract: grey and green squares."
        />
        <figcaption><a href="#">Abstract</a></figcaption>
      </figure>
    </li>
    <li>
      <figure class="color6">
        <img
          src="assets/vivid.jpg"
          alt="Tree on island in lake with purple sunrise."
        />
        <figcaption><a href="#">Vivid</a></figcaption>
      </figure>
    </li>
    <li>
      <figure class="color8">
        <img src="assets/music.jpg" alt="Music: guitar leaning against wall." />
        <figcaption><a href="#">Music</a></figcaption>
      </figure>
    </li>
    <li>
      <figure class="color4">
        <img src="assets/vehicles.jpg" alt="Vehicles: 1930's car on street." />
        <figcaption><a href="#">Vehicles</a></figcaption>
      </figure>
    </li>
    <li>
      <figure class="color3">
        <img
          src="assets/landscape.jpg"
          alt="Landscape: moonrise over tree-covered mountains."
        />
        <figcaption><a href="#">Landscape</a></figcaption>
      </figure>
    </li>
  </ul>
</section>
