section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

section h2 {
  font-size: 2.5rem;
}
section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
figure {
  margin: 0 0 0.5rem 0;
  padding: 0;
  max-height: 400px;
  overflow: hidden;
  position: relative;
  border-width: 10px;
  border-style: solid;
  border-radius: 5px;
}
figure img {
  margin-bottom: -4px;
  width: 100%;
  object-fit: cover;
  object-position: 0 -150px;
}
figcaption {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.875rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}
figcaption a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: var(--color1);
}
.color2,
.color2 a:hover {
  border-color: var(--color2);
  color: var(--color2);
}
.color3,
.color3 a:hover {
  border-color: var(--color3);
  color: var(--color3);
}
.color4,
.color4 a:hover {
  border-color: var(--color4);
  color: var(--color4);
}
.color6,
.color6 a:hover {
  border-color: var(--color6);
  color: var(--color6);
}
.color7,
.color7 a:hover {
  border-color: var(--color7);
  color: var(--color7);
}
.color8,
.color8 a:hover {
  border-color: var(--color8);
  color: var(--color8);
}

/* mission styles */

#mission {
  margin-bottom: 3rem;
}
.missiontext {
  display: block;
  line-height: 1.7;
}
.missionimg {
  max-height: 100px;
  display: block;
}

/* Initial mobile layout: a series of images stacked on top of each other with the figure caption over the image. */

/* At this breakpoint, transition to 2 figures per line */

/* turn on flexbox here - prior to this, elements stacked individually as blocks */

@media (min-width: 550px) {
  section ul,
  footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  section li,
  .social,
  address {
    flex-basis: 49.5%;
  }
  figure img {
    object-position: 0;
  }
  .missiontext {
    display: flow-root;
    max-width: 900px;
  }
  .missionimg {
    float: left;
    shape-outside: polygon(
      35.84% 94.87%,
      34.64% 87.05%,
      51.64% 4.06%,
      55.1% 2.38%
    );
    max-height: 211px;
  }
  footer address {
    margin-top: 0;
  }
}

/* At this breakpoint, transition to 3 figures per line */

@media (min-width: 800px) {
  section h2 {
    margin-left: 100px;
  }
  section li,
  .social {
    flex-basis: 32.5%;
  }
  address {
    flex-basis: 65.5%;
  }
}
