section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

section h2 {
  font-size: 2.5rem;
  color: var(--color3);
}
section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.color2,
.color2 a:hover {
  border-color: var(--color2);
  color: var(--color2);
}
.color3,
.color3 a:hover {
  border-color: var(--color3);
  color: var(--color3);
}
.color4,
.color4 a:hover {
  border-color: var(--color4);
  color: var(--color4);
}
.color6,
.color6 a:hover {
  border-color: var(--color6);
  color: var(--color6);
}
.color7,
.color7 a:hover {
  border-color: var(--color7);
  color: var(--color7);
}
.color8,
.color8 a:hover {
  border-color: var(--color8);
  color: var(--color8);
}

/* mission styles */

#mission {
  margin-bottom: 3rem;
}
.missiontext {
  display: block;
  line-height: 1.7;
}
.missionimg {
  max-height: 100px;
  display: block;
}

/* Initial mobile layout: a series of images stacked on top of each other with the figure caption over the image. */

/* At this breakpoint, transition to 2 figures per line */

/* turn on flexbox here - prior to this, elements stacked individually as blocks */

@media (min-width: 550px) {
  section ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  section li {
    flex-basis: 49.5%;
  }
  figure img {
    object-position: 0;
  }
  .missiontext {
    display: flow-root;
    max-width: 900px;
  }
  .missionimg {
    float: left;
    shape-outside: polygon(
      35.84% 94.87%,
      34.64% 87.05%,
      51.64% 4.06%,
      55.1% 2.38%
    );
    max-height: 211px;
  }
}

/* At this breakpoint, transition to 3 figures per line */

@media (min-width: 800px) {
  section h2 {
    margin-left: 100px;
  }
  section li {
    flex-basis: 32.5%;
  }
}
