<div class="footer">
    <footer>
      <div class="social">
        <h4>stay connected</h4>
        <ul>
          <li>
            <a href="#">
              <img src="assets/facebook-icon.svg" alt="visit facebook" />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="assets/instagram-icon.svg" alt="visit facebook" />
            </a>
          </li>
        </ul>
      </div>
      <address>
        Wall of wonder <br />
        Wall of wonder <br />
        Wall of wonder <br />
        Wall of wonder <br />
      </address>
    </footer>
  </div>
  